<h1> Order of the Phonix </h1>
<p><%= @characters.length %> members from <%=@house%>
<p>-----------------------------------</p>
<p></p>
<% @characters.each do |character| %>
  <h4><%=character[:name]%></h4>
  <p>House: <%=character[:house]%> </p>
  <p>Role: <%=character[:role]%> </p>
  <p>Patronus: <%=character[:patronus]%> </p>
  <p>-----------------------------------</p>
<% end %>
